<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-with, initial-scale=1">

        <title>QR Buddy</title>

        <link rel="stylesheet" href="https://getnucleon.com/release/latest/nucleon.min.css">
        <style>
            .btn-block{
                display: block !important;
                width: 100% !important;
            }
        </style>

        <script type="text/javascript" src="/js/lib/ajax.min.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>
