<div class="container my-5">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-md-4">
            <div class="panel pt-2 mb-2">
                <h4 class="text-center">QR Code Type</h4>
                <div id="form-select">
                    <div id="url-pane-btn" class="pane-btn active" data-target="#url-pane">
                        <span class="full-width text-center">URL</span>
                        <i class="fas fa-link"></i>
                    </div>
                    <div id="vcard-pane-btn" class="pane-btn" data-target="#contact-pane">
                        <span class="full-width text-center">vCard</span>
                        <i class="fas fa-address-card"></i>
                    </div>
                    <div id="email-pane-btn" class="pane-btn" data-target="#email-pane">
                        <span class="full-width text-center">Email</span>
                        <i class="far fa-envelope"></i>
                    </div>
                    <div id="sms-pane-btn" class="pane-btn" data-target="#sms-pane">
                        <span class="full-width text-center">SMS</span>
                        <i class="far fa-comments"></i>
                    </div>
                    <div id="phone-pane-btn" class="pane-btn" data-target="#phone-pane">
                        <span class="full-width text-center">Phone</span>
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div id="geo-pane-btn" class="pane-btn" data-target="#geo-pane">
                        <span class="full-width textcenter">Geo</span>
                        <i class="fas fa-globe-americas"></i>
                    </div>
                    <div id="wifi-pane-btn" class="pane-btn" data-target="#wifi-pane">
                        <span class="full-width text-center">WiFi</span>
                        <i class="fas fa-wifi"></i>
                    </div>
                    <div id="text-pane-btn" class="pane-btn" data-target="#text-pane">
                        <span class="full-width text-center">Text</span>
                        <i class="fas fa-font"></i>
                    </div>
                </div>
            </div>
        </div>

        <div id="pane-container" class="col-md-8">
            <!--
                ========
                URL Pane
                ========
            -->
            <div id="url-pane" class="pane active panel pt-2 mb-2">
                <h4 class="text-center">Create QR Code from Website</h4>
                <div id="url-form-container">
                    <form action="/api/v1/url" method="PUT" id="url-form">
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    URL<br>
                                    <input type="text" name="url" data-validator="^https?:\/\/" data-error="URL must begin with http:// or https://" placeholder="https://github.com">
                                    <span class="alert danger"></span>
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary link-submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--
                ==========
                vCard Pane
                ==========
            -->
            <div id="contact-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">Create QR Code from vCard</h4>
                <div id="vcard-form-container">
                    <form action="/api/v1/vcard" method="PUT" id="vcard-form">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    First Name
                                    <input type="text" name="firstName" placeholder="John">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Last Name
                                    <input type="text" name="lastName" placeholder="Doe">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <label>
                                    Prefix
                                    <input type="text" name="namePrefix" placeholder="Mr.">
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label>
                                    Suffix
                                    <input type="text" name="nameSuffix" placeholder="Sr.">
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label>
                                    Nickname
                                    <input type="text" name="nickname" placeholder="Johnny">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Organization
                                    <input type="text" name="organization" placeholder="Organization">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Title
                                    <input type="text" name="title" placeholder="Job Title">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Website
                                    <input type="text" name="website" placeholder="https://website.com">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Home Email
                                    <input type="text" name="email" placeholder="jdoe@home.com">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Work Email
                                    <input type="text" name="workEmail" placeholder="jdoe@work.com">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Cell Phone
                                    <input type="text" name="cellPhone" placeholder="Cell Phone">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Work Phone
                                    <input type="text" name="workPhone" placeholder="Work Phone">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Home Phone
                                    <input type="text" name="homePhone" placeholder="Home Phone">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Pager
                                    <input type="text" name="pager" placeholder="Pager">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Home Fax
                                    <input type="text" name="homeFax" placeholder="Home Fax">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Work Fax
                                    <input type="text" name="workFax" placeholder="Work Fax">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Birthday
                                    <input type="text" name="birthday" placeholder="06/06/1980">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Anniversary
                                    <input type="text" name="anniversary" placeholder="06/06/2000">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Notes
                                    <textarea name="notes" placeholder="Notes" rows="6"></textarea>
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="vCard-submit btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>

            <!--
                ==========
                Email Pane
                ==========
            -->
            <div id="email-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">Send an Email QR Code</h4>
                <div id="email-form-container">
                    <form action="/api/v1/email" method="PUT" id="email-form" novalidate>
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Email
                                    <input type="email" name="email" data-validator=".+@.*\..{2,}" data-error="Invalid email" placeholder="Email Address">
                                    <span class="alert danger"></span>
                                </label>
                            </div>
                            <div class="col-12">
                                <label>
                                    Subject
                                    <input type="text" name="subject" placeholder="Subject Line">
                                </label>
                            </div>
                            <div class="col-12">
                                <label>
                                    Body
                                    <textarea rows="4" name="body" placeholder="Body Text"></textarea>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="email-submit btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--
                ========
                SMS Pane
                ========
            -->
            <div id="sms-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">Send an SMS QR Code</h4>
                <div id="sms-form-container">
                    <form action="/api/v1/sms" method="PUT" id="sms-form">
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Phone Number
                                    <input type="text" name="number" placeholder="405-867-5309">
                                </label>
                            </div>
                            <div class="col-12">
                                <label>
                                    Body
                                    <textarea rows="4" name="body" placeholder="Body Text"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="sms-submit btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--
                ==========
                Phone Pane
                ==========
            -->
            <div id="phone-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">Call a Phone Number QR Code</h4>
                <div id="phone-form-container">
                    <form action="/api/v1/phone" method="PUT" id="phone-form">
                        <div class="row">
                            <div class="col-12">
                                Phone Number
                                <input type="text" name="number" placeholder="405-867-5309">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="phone-submit btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--
                ========
                GEO PANE
                ========
            -->
            <div id="geo-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">Store Coordinates in QR Code</h4>
                <div id="geo-form-container">
                    <form action="/api/v1/geo" id="geo-form" method="PUT">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Lattitude
                                    <input type="text" name="lat" placeholder="Lattitude">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Longitude
                                    <input type="text" name="lon" placeholder="Longitude">
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="geo-submit btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--
                =========
                WIFI PANE
                =========
            -->
            <div id="wifi-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">WiFi Credentials QR Code</h4>
                <div id="wifi-form-container">
                    <form action="/api/v1/wifi" id="wifi-form" method="PUT">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    SSID
                                    <input type="text" name="ssid" placeholder="Network Name">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Password
                                    <input type="text" name="password" placeholder="Network Password">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Network Type
                                    <select name="type">
                                        <option value="WEP">WEP</option>
                                        <option value="WPA">WPA</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="mt-3">
                                    <input type="checkbox" name="hidden" value="true"> <span class="label-body">Hidden</span>
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--
                =========
                TEXT PANE
                =========
            -->
            <div id="text-pane" class="pane panel pt-2 mb-2">
                <h4 class="text-center">Store Plaintext in QR Code</h4>
                <div id="text-form-container">
                    <form action="/api/v1/text" id="text-form" method="PUT">
                        <div class="row">
                            <div class="col-12">
                                <textarea name="text" rows="6" placeholder="Some text to encode"></textarea>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="text-submit btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div id="qr-container" class="panel mb-2"></div>
        </div>
    </div>
    <div class="row">
    </div>
</div>

<!-- Data Modal (remove in prod) -->
<button id="view-data" data-toggle="modal" data-target="#data-modal">View Data</button>
<div class="modal" id="data-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close">&times;</div>

            <!-- URLs -->
            <h3 class="text-center">Links Created</h3>
            <div id="links" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- vCards -->
            <h3 class="text-center">vCards Created</h3>
            <div id="vcards" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- Emails -->
            <h3 class="text-center">Emails Created</h3>
            <div id="emails" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- SMS -->
            <h3 class="text-center">SMSs Created</h3>
            <div id="smss" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- Phones -->
            <h3 class="text-center">Phones Created</h3>
            <div id="phones" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- Geos -->
            <h3 class="text-center">Geos Created</h3>
            <div id="geos" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- WiFis -->
            <h3 class="text-center">Wifis Created</h3>
            <div id="wifis" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>

            <hr>

            <!-- Plaintexts -->
            <h3 class="text-center">Texts Created</h3>
            <div id="texts" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>
        </div>
    </div>
</div>


<!-- Main JS File -->
<script src="/js/main.min.js"></script>
