<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-center">QR Code Type</h4>
            <div id="form-select">
                <div id="url-pane-btn" class="pane-btn active" data-target="#url-pane">
                    <span class="full-width text-center">URL</span>
                    <i class="fas fa-link"></i>
                </div>
                <div id="vcard-pane-btn" class="pane-btn" data-target="#contact-pane">
                    <span class="full-width text-center">vCard</span>
                    <i class="fas fa-address-card"></i>
                </div>
                <div id="email-pane-btn" class="pane-btn" data-target="#email-pane">
                    <span class="full-width text-center">Email</span>
                    <i class="far fa-envelope"></i>
                </div>
                <div id="sms-pane-btn" class="pane-btn" data-target="#sms-pane">
                    <span class="full-width text-center">SMS</span>
                    <i class="far fa-comments"></i>
                </div>
                <div id="phone-pane-btn" class="pane-btn" data-target="#phone-pane">
                    <span class="full-width text-center">Phone</span>
                    <i class="fas fa-phone-volume"></i>
                </div>
            </div>
        </div>
        <div id="pane-container" class="col-md-8 col-md-offset-1">
            <!--
                ========
                URL Pane
                ========
            -->
            <div id="url-pane" class="pane active">
                <h4 class="text-center">Create QR Code from Website</h4>
                <div id="url-form-container">
                    <form action="" id="url-form">
                        <label>
                            URL<br>
                            <input type="text" class="link-input" placeholder="https://github.com">
                        </label>
                        <input type="submit" class="btn btn-primary link-submit" value="Submit">
                    </form>
                </div>
                <div class="url-img-container text-center mb-5" style="font-size: 2.2rem"></div>
                <h3 class="text-center">Links Created</h3>
                <div id="links" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>
            </div>

            <!--
                ==========
                vCard Pane
                ==========
            -->
            <div id="contact-pane" class="pane">
                <h4 class="text-center">Create QR Code from vCard</h4>
                <div id="vcard-form-container" class="mb-5">
                    <form action="" id="vcard-form">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    First Name
                                    <input type="text" class="firstName" placeholder="John">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Last Name
                                    <input type="text" class="lastName" placeholder="Doe">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <label>
                                    Prefix
                                    <input type="text" class="namePrefix" placeholder="Mr.">
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label>
                                    Suffix
                                    <input type="text" class="nameSuffix" placeholder="Sr.">
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label>
                                    Nickname
                                    <input type="text" class="nickname" placeholder="Johnny">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Organization
                                    <input type="text" class="organization" placeholder="Organization">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Title
                                    <input type="text" class="title" placeholder="Job Title">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Website
                                    <input type="text" class="website" placeholder="https://website.com">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Home Email
                                    <input type="text" class="email" placeholder="jdoe@home.com">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Work Email
                                    <input type="text" class="workEmail" placeholder="jdoe@work.com">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Cell Phone
                                    <input type="text" class="cellPhone" placeholder="Cell Phone">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Work Phone
                                    <input type="text" class="workPhone" placeholder="Work Phone">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Home Phone
                                    <input type="text" class="homePhone" placeholder="Home Phone">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Pager
                                    <input type="text" class="pager" placeholder="Pager">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Home Fax
                                    <input type="text" class="homeFax" placeholder="Home Fax">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Work Fax
                                    <input type="text" class="workFax" placeholder="Work Fax">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Birthday
                                    <input type="text" class="birthday" placeholder="06/06/1980">
                                </label>
                            </div>
                            <div class="col-6">
                                <label>
                                    Anniversary
                                    <input type="text" class="anniversary" placeholder="06/06/2000">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Notes
                                    <textarea class="notes" placeholder="Notes" rows="6"></textarea>
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="vCard-submit btn btn-primary" value="Submit">
                    </form>
                </div>
                <div class="vcard-img-container text-center mb-5" style="font-size: 2.2rem"></div>
                <h3 class="text-center">vCards Created</h3>
                <div id="vcards" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>
            </div>

            <!--
                ==========
                Email Pane
                ==========
            -->
            <div id="email-pane" class="pane">
                <h4 class="text-center">Send an Email QR Code</h4>
                <div id="email-form-container">
                    <form action="" id="email-form">
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Email
                                    <input type="email" class="email" placeholder="Email Address">
                                </label>
                            </div>
                            <div class="col-12">
                                <label>
                                    Subject
                                    <input type="text" class="subject" placeholder="Subject Line">
                                </label>
                            </div>
                            <div class="col-12">
                                <label>
                                    Body
                                    <textarea rows="4" class="body" placeholder="Body Text"></textarea>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="email-submit btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="email-img-container text-center mb-5" style="font-size: 2.2rem"></div>
                <h3 class="text-center">Emails Created</h3>
                <div id="emails" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>
            </div>

            <!--
                ========
                SMS Pane
                ========
            -->
            <div id="sms-pane" class="pane">
                <h4 class="text-center">Send an SMS QR Code</h4>
                <div id="sms-form-container">
                    <form action="" id="sms-form">
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    Phone Number
                                    <input type="text" class="number" placeholder="405-867-5309">
                                </label>
                            </div>
                            <div class="col-12">
                                <label>
                                    Body
                                    <textarea rows="4" class="body" placeholder="Body Text"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="sms-submit btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sms-img-container text-center mb-5" style="font-size: 2.2rem"></div>
                <h3 class="text-center">SMSs Created</h3>
                <div id="smss" class="text-center full-width" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"></div>
            </div>

            <!--
                ==========
                Phone Pane
                ==========
            -->
            <div id="phone-pane" class="pane">
                <h4 class="text-center">Call a Phone Number QR Code</h4>
                <div id="phone-form-container">
                    <form action="" id="phone-form">
                        <div class="row">
                            <div class="col-12">
                                Phone Number
                                <input type="text" class="phone" placeholder="405-867-5309">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    'use strict';



</script>

<script src="/js/main.js"></script>
